packages/
OrangeApartments/bin/
OrangeApartments/App_Data/Img/Apartments/
OrangeApartments/App_Data/Img/Users/
OrangeApartments/obj/
OrangeApartments/packages/
OrangeApartments/publish/
OrangeApartments/Properties/
OrangeApartments.sln
.vs/